# Series & Data Frame - Data types

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell 4\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
# series

In [4]:
mylist=[1,2,3,4,5,60]

In [5]:
data=pd.Series(mylist)

In [6]:
data.dtype

dtype('int64')

In [7]:
data

0     1
1     2
2     3
3     4
4     5
5    60
dtype: int64

In [8]:
data=pd.Series(mylist,index=["A","B","C","D","E","F"])

In [9]:
data

A     1
B     2
C     3
D     4
E     5
F    60
dtype: int64

In [10]:
#adding two series

In [11]:
ser1=pd.Series([1,2,3,4],index=["USA","Germany","Japan","USSR"])
ser2=pd.Series([1,2,3,4],index=["USA","Germany","Japan","USSR"])

In [12]:
ser1+ser2

USA        2
Germany    4
Japan      6
USSR       8
dtype: int64

In [13]:
mydict={"name":"aravinth","age":21}

In [14]:
data=pd.Series(mydict)

In [15]:
data

name    aravinth
age           21
dtype: object

In [16]:
#dataframe

In [19]:
# data=pd.DataFrame(randn(5,5))
data=pd.DataFrame(randn(5,5),index="A B C D E".split(),columns="P Q R S T".split())

In [20]:
data

          P         Q         R         S         T
A -0.378859 -1.008803  0.141927 -2.741278 -1.994769
B -0.582801  0.459583  0.451061  0.161224  0.333523
C -1.380462 -0.290739  0.257184  0.273521  0.854744
D  0.256764  1.120898  1.798909 -0.627288 -1.168058
E -0.316841  1.589518 -0.409563 -0.150636  0.310360

In [21]:
data["P"]

A   -0.378859
B   -0.582801
C   -1.380462
D    0.256764
E   -0.316841
Name: P, dtype: float64

In [23]:
data["U"]=data["P"] + data["Q"]

In [24]:
data

          P         Q         R         S         T         U
A -0.378859 -1.008803  0.141927 -2.741278 -1.994769 -1.387661
B -0.582801  0.459583  0.451061  0.161224  0.333523 -0.123218
C -1.380462 -0.290739  0.257184  0.273521  0.854744 -1.671201
D  0.256764  1.120898  1.798909 -0.627288 -1.168058  1.377662
E -0.316841  1.589518 -0.409563 -0.150636  0.310360  1.272677

In [25]:
data

          P         Q         R         S         T         U
A -0.378859 -1.008803  0.141927 -2.741278 -1.994769 -1.387661
B -0.582801  0.459583  0.451061  0.161224  0.333523 -0.123218
C -1.380462 -0.290739  0.257184  0.273521  0.854744 -1.671201
D  0.256764  1.120898  1.798909 -0.627288 -1.168058  1.377662
E -0.316841  1.589518 -0.409563 -0.150636  0.310360  1.272677

In [26]:
data.drop("U",axis=1,inplace=True)

In [ ]:
#axis - 0 row , axis - 1 column , inplace - true - original data affect

In [28]:
data

          P         Q         R         S         T
A -0.378859 -1.008803  0.141927 -2.741278 -1.994769
B -0.582801  0.459583  0.451061  0.161224  0.333523
C -1.380462 -0.290739  0.257184  0.273521  0.854744
D  0.256764  1.120898  1.798909 -0.627288 -1.168058
E -0.316841  1.589518 -0.409563 -0.150636  0.310360

In [29]:
#loc - location

In [ ]:
data.loc["P"]