# Inferential Statistics

Gender AgeGroup weight height
M      Elder     70      1.4
F      Adult     65      1.2
M      Adult     65      1.4
F      Child     20       1
F      Adult     75      1.3
M      Elde      80      1.3

In [5]:
#generating random sample

In [18]:
import random
import numpy as np
# testing module
from scipy import stats

###  T Test

In [52]:
age=[random.randint(1,100) for i in range(100)]
weights=[random.random()*10 for i in range(100)]
sample=[random.choice(weights) for i in range(20) ]
mean=np.mean(weights)
mean

4.938679493620121

**One Group Hypothesis Testing**

In [55]:
ttest,p_value=stats.ttest_1samp(sample,mean)

In [57]:
if p_value>=0.05:
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Accept the null hypothesis

In [59]:
sample

[3.047393189337384,
 9.501158220049792,
 3.1554306088109776,
 7.377564873391894,
 3.2409877112141605,
 2.0440532936766234,
 4.253169229072839,
 2.0440532936766234,
 4.031685252102309,
 9.501158220049792,
 7.785618092475427,
 9.08222142432445,
 7.785618092475427,
 9.501158220049792,
 2.0846341673162563,
 0.0779717712672423,
 5.361440233141314,
 5.154617902879414,
 8.026912221439762,
 1.117105689054123]

In [61]:
ttest

0.38788540992005144

In [63]:
p_value

0.7024122831852131

**Two Group Hypothesis**

In [68]:
ttest,p_value=stats.ttest_ind(age,weights)
if p_value>=0.05:
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Reject the null hypothesis

In [70]:
p_value

7.148300603791047e-34

### Correlation

In [105]:
import seaborn as sns


data = sns.load_dataset("iris")

numeric_data = data.select_dtypes(include=["float64", "int64"])

correlation_matrix = numeric_data.corr()
correlation_matrix

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000