In [1]:
a = 1
while a<=10:
    print(a)
    a += 1
print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [1]:
# write a program to print even numbers b/w 1-10
a = 0
while a<=10:
    print(a)
    a += 2
print("Done")

0
2
4
6
8
10
Done

In [3]:
a = 1
while a<=10:
    if a%2==0:
        print(a)
    a += 1

2
4
6
8
10

In [4]:
# print table of 5 using while loop.
a = 5
while a<=50:
    if a%5==0:
        print(a)
    a += 5

5
10
15
20
25
30
35
40
45
50

In [5]:
a = 1
while a<=10:
    print(5*a)
    a += 1

5
10
15
20
25
30
35
40
45
50

In [ ]:
# break and continue

# print all even number b/w 1-20, but we want to end the loop 
# if we see any number div by 3 & 6 both

In [6]:
# break 
a = 1
while a<=20:
    if a%3 == 0 and a%6==0:
        break
    elif a%2 == 0:
        print(a)
    a += 1

2
4

In [7]:
a = 1
while a<=20: 
    if a%2 == 0:
        print(a)
    if a%3==0 and a%6==0 :
        break
    a += 1

2
4
6

In [ ]:
# continue - skip iterations

In [14]:
a = 1
while a<=20:
    if a%3==0 and a%6==0 :
        a += 1
        continue
    if a%2 == 0:
        print(a)
    a += 1

2
4
8
10
14
16
20

In [8]:
# a = 1
# while a<=20:
#     print(a)
#     break

1

In [ ]:
# Write a program to create a shopping cart, and display items 
# in cart

# - Do you want to enter item to your cart?y/n - y
# - Enter the item - "Shoes"
# - Do you want to enter item to your cart?y/n - y
# - Enter the item - "Bottle"
#  Do you want to enter item to your cart?y/n - n
# ["Shoes", "Bottle"]

In [9]:
item_list = []

while True:
    inp = input("Do you want to enter item to your cart?y/n -")
    if inp == "n":
        break
    item = input("Enter the item -")
    item_list.append(item)
    
print(item_list)

Do you want to enter item to your cart?y/n -y
Enter the item -shoes
Do you want to enter item to your cart?y/n -y
Enter the item -dfghjkl
Do you want to enter item to your cart?y/n -9876
Enter the item -n
Do you want to enter item to your cart?y/n -n
['shoes', 'dfghjkl', 'n']

In [19]:
item_list = []
inp = input("Do you want to enter item to your cart?y/n -")
while inp == "y":
    item = input("Enter the item -")
    item_list.append(item)
    inp = input("Do you want to enter item to your cart?y/n -")
print(item_list)

Do you want to enter item to your cart?y/n -y
Enter the item -shoes
Do you want to enter item to your cart?y/n -y
Enter the item -bottle
Do you want to enter item to your cart?y/n -n
['shoes', 'bottle']

In [20]:
range(10)  # end - exclusive

range(0, 10)

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
range(-3,10)

range(-3, 10)

In [25]:
list(range(-3,10,  2))

[-3, -1, 1, 3, 5, 7, 9]

In [26]:
list(range(10,-6,  -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

In [27]:
# tuple and list unpacking
a, b = 10,20
print(a)
print(b)

10
20

In [29]:
a= 10,20,30,70
print(a)

(10, 20, 30, 70)

In [14]:
# a,b= 10,20,30,70
# print(a)

In [15]:
a,b,c,d= 10,20,30,70
print(a)

10

In [32]:
a,*b= 10,20,30,70
print(a)
print(b)

10
[20, 30, 70]

In [16]:
*b,a= 10,20,30,70
print(a)
print(b)

70
[10, 20, 30]

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [19]:
# print table of 5 using for loop
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [20]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [40]:
# print all even number b/w 1-20 but break the loop if 
# it see num div by both 3 and 6

for i in range(1,21):
    if i%3==0 and i%6==0:
        break
    if i%2==0:
        print(i)

2
4

In [42]:
# prime - div by 1 and itself

num = int(input("Enter the num - "))

for i in range(2,num):
    if num%i==0:
        print("Not prime")
        break
else:
    print("Prime")

Enter the num - 15
Not prime

In [44]:
num = int(input("Enter the num - "))
v = 2
while v< num:
    if num%v==0:
        print("Not prime")
        break
    v += 1
else:
    print("Prime")

Enter the num - 7
Prime

In [ ]:
for a in range(1,21) :
    if a%3==0 and a%6==0 :
        continue
    if a%2 == 0:
        print(a)

In [21]:
# nested loop
for i in range(5,11):
    for j in range(1,11):
        print(f"{i} X {j} = {i*j}")
    print("-"*50)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
--------------------------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
--------------------------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
--------------------------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
--------------------------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
--------------------------------------------------
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
--------------------------------------------------

In [61]:
# iteration on iterables- str, tuple, list, set, dict
s = "Great Learning"

for i in s:
    print(i.upper())

G
R
E
A
T

L
E
A
R
N
I
N
G

In [62]:
# write a program to find count of upper and lower case letter in s
# upper case = 2
# Lower case = 11

s = "Great Learning"
c_u = 0
c_l = 0

for i in s:
    if i.isupper():
        c_u += 1
    elif i.islower():
        c_l += 1
print("Upper case", c_u)
print("Lower case", c_l)

Upper case 2
Lower case 11

In [63]:
list_num = [10,12,18,9, "Python"]
for i in list_num:
    print(i)

10
12
18
9

In [65]:
list_num = [  (10,12) ,  (18,9)]
for i in list_num: 
    for j in i:
        print(j)

10
12
18
9

In [84]:
list_num = [  (10,12) ,  (18,9,11)]

for i,j in list_num:
    print(i)
    print(j)

10
12

ValueError: too many values to unpack (expected 2)

In [72]:
l1 = [10,6,9,11]
l2 = [12,8,2]
for i,j in zip(l1,l2):
    print(i*j)

120
48
18

In [70]:
list(zip(l1,l2))

[(10, 12), (6, 8), (9, 2)]

In [23]:
l1 = [10,6,9, 12]
l2 = [12,8,2]
for i in range(len(l1)-1):
    print(l1[i] * l2[i])

120
48
18

In [25]:
l2[2]

2

In [26]:
# set -
s = {10,"python","A", "hello"}
for i in s:
    print(i)

10
hello
python
A

In [80]:
d = {"A" : 30, "B" : 40}

for i in d:
    print(i, d[i])

A 30
B 40

In [79]:
d["A"]

30

In [82]:
d = {"A" : 30, "B" : 40}

for k,v in d.items():
    print(k,v)

A 30
B 40

In [ ]:
# W.A.P to find all the factors of any given number
# W.A.P to find the factorial of a given number

In [87]:
#  [1, 3, 5]


num = int(input("Enter the num - "))
factors = []
for i in range(1,num):  
    if num%i==0:
        factors.append(i)
print(factors)

Enter the num - 50
[1, 2, 5, 10, 25]

In [88]:
# 4! - 4*3*2*1
#    - 1*2*3*4

num = int(input("Enter the num - "))
f = 1
for i in range(1,num+1): 5
    f = f*i  # f = 1, f = 2, f = 6, f = 6*4
print(f)

Enter the num - 4
24

In [27]:
# prime, factors, factorial
def Prime(num):
    for i in range(2,num):
        if num%i==0:
            print("Not prime")
            break
    else:
        print("Prime")

In [28]:
Prime(71)

Prime

In [29]:
def Factors(num):
    factors = []
    for i in range(1,num):  
        if num%i==0:
            factors.append(i)
    print(factors)

In [30]:
fac_45 = Factors(45)

[1, 3, 5, 9, 15]

In [31]:
print(fac_45)

None

In [32]:
def Factorial(num):
    f = 1
    for i in range(1,num+1): 
        f = f*i  # f = 1, f = 2, f = 6, f = 6*4
    print(f)

In [33]:
fac_5 = Factorial(5)

120

In [98]:
print(fac_5)

None

In [99]:
def Factorial(num):
    f = 1
    for i in range(1,num+1): 
        f = f*i  # f = 1, f = 2, f = 6, f = 6*4
    return f

In [100]:
fac_5 = Factorial(5)

In [101]:
fac_5

120

In [106]:
def Factors(num):
    factors = []
    for i in range(1,num):  
        if num%i==0:
            factors.append(i)
    return factors

In [107]:
fac_45 = Factors(45)
fac_45

[1, 3, 5, 9, 15]

In [108]:
Factors(99)

[1, 3, 9, 11, 33]

In [109]:
#square of all num from 1 - 10
sq_list = []
for i in range(1,11):
    sq_list.append(i**2)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# [expression for i in iterable if condition]

In [2]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[[i*j for j in range(1,6)] for i in (range(1,4))]

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]

In [12]:
[[i*j for j in range(1,6)] for i in range(1,4)]
# [[j for j in range(1,6)] for _ in range(1,3)]

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]

In [14]:
[  i**2      for i in range(1,11)     ]  #

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# print all the even numbers between 1-10
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:
# if i%2==0:
#     if i>5:
#         print(i)

In [ ]:
#[1,2,3,4,5,6,7,8,9,10]

# ["odd", "even","odd"]

In [5]:
# mapping with even and odd
['even' if i%2==0 else 'odd' for i in range(1,6)]

['odd', 'even', 'odd', 'even', 'odd']

In [19]:
# [(1,"odd"), (2,"even"), (3,"odd")......(10,"even")]

In [21]:
[(i,"even") if i%2==0 else (i,"odd")    for i in range(1,11)]

[(1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even'),
 (9, 'odd'),
 (10, 'even')]

In [9]:
# nesting
[ [ i*j     for i in range(5,11)]  for j in range(1,11)   ]
[[i*j for i in range(5,11)] for j in range(1,11)]

[[5, 6, 7, 8, 9, 10],
 [10, 12, 14, 16, 18, 20],
 [15, 18, 21, 24, 27, 30],
 [20, 24, 28, 32, 36, 40],
 [25, 30, 35, 40, 45, 50],
 [30, 36, 42, 48, 54, 60],
 [35, 42, 49, 56, 63, 70],
 [40, 48, 56, 64, 72, 80],
 [45, 54, 63, 72, 81, 90],
 [50, 60, 70, 80, 90, 100]]

In [ ]:
# [  [5,,10,15...50] ,  [6....60] ]

In [33]:
[  [ i*j  for j in range(1,11)]    for i in range(5,11)    ]

[[5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [120]:
x = 5
[x*j   for j in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [34]:
table = []
for i in range(5,11):
    for j in range(1,11):
        table.append(i*j)
table

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [126]:
table = []
for i in range(5,11): 
    temp_l = []  
    for j in range(1,11):
        temp_l.append(i*j)
    table.append(temp_l)
table

[[5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [130]:
s = { i**2   for i in range(1,11)  if i%2==0}
s

{4, 16, 36, 64, 100}

In [131]:
type(s)

set

In [135]:
s = ( i**2   for i in range(1,11)  if i%2==0)
s

In [136]:
list(s)

[4, 16, 36, 64, 100]

In [137]:
list(s)

[]