In [1]:
# import random
# ch = random.choice(c)
# ch

In [2]:
# "Enter your choice - " "Paper"

In [3]:
import random

for i in range(5):
    
    c = ["Rock", "Paper", "Scissor"]
    ch = random.choice(c)
    user_c = input("Enter your choice -  ['Rock', 'Paper', 'Scissor']")

    if ch.lower() == user_c.lower():
        print("Tie")
        print(f"User choice is {user_c} and  computer choice is {ch}")

    elif (user_c == "Rock" and ch=="Scissor")\
    or (user_c=="Paper" and ch == "Rock") or \
    (user_c=="Scissor" and ch == "Paper"):
        print("User Wins!")
        print(f"User choice is {user_c} and  computer choice is {ch}")
    else:
        print("Computer Wins!")
        print(f"User choice is {user_c} and  computer choice is {ch}")

Enter your choice -  ['Rock', 'Paper', 'Scissor']rock
Tie
User choice is rock and  computer choice is Rock
Enter your choice -  ['Rock', 'Paper', 'Scissor']paper
Computer Wins!
User choice is paper and  computer choice is Scissor
Enter your choice -  ['Rock', 'Paper', 'Scissor']scissor
Computer Wins!
User choice is scissor and  computer choice is Paper
Enter your choice -  ['Rock', 'Paper', 'Scissor']paper
Tie
User choice is paper and  computer choice is Paper
Enter your choice -  ['Rock', 'Paper', 'Scissor']rock
Computer Wins!
User choice is rock and  computer choice is Paper

In [4]:
def Greet():
    return "Good Morning"

In [5]:
Greet()

'Good Morning'

In [6]:
Greet("good eveneing")

TypeError: Greet() takes 0 positional arguments but 1 was given

In [7]:
# positional argument
def getNewPrice(price, discount):
    new_price = price - (price * discount)
    return new_price

In [8]:
getNewPrice(500,0.1)

450.0

In [9]:
getNewPrice(0.1,500)

-49.9

In [24]:
# keyword arguments
getNewPrice(price = 500, discount=0.1)

450.0

In [25]:
getNewPrice( discount=0.1,price = 500)

450.0

In [26]:
getNewPrice(500, discount=0.1)

450.0

In [27]:
getNewPrice(discount=0.1,500)

SyntaxError: positional argument follows keyword argument (2652701301.py, line 1)

In [ ]:
# we should give positional argument then only we can give keyword argument

In [29]:
# 
def getNewPrice(price, name,discount):
    new_price = price - (price * discount)
    return f" Discounted price of {name} is {new_price}"

In [30]:
getNewPrice(500,"Shoes", 0.15)

' Discounted price of Shoes is 425.0'

In [31]:
getNewPrice(price=500,name="Shoes", discount=0.15)

' Discounted price of Shoes is 425.0'

In [32]:
getNewPrice(500,"Shoes", discount=0.15)

' Discounted price of Shoes is 425.0'

In [33]:
getNewPrice(price=500,"Shoes", discount=0.15)

SyntaxError: positional argument follows keyword argument (3910092629.py, line 1)

In [35]:
getNewPrice(500, name="Shoe",discount=0.15)

' Discounted price of Shoe is 425.0'

In [30]:
# default argument
def getNewPrice(price, name,discount = 0.1):
    new_price = price - (price * discount)
    return f" Discounted price of {name} is {new_price}"

In [45]:
getNewPrice(500,"Shoe")

' Discounted price of Shoe is 450.0'

In [46]:
getNewPrice(500,"Shoe", 0.15)

' Discounted price of Shoe is 425.0'

In [47]:
getNewPrice(600,"Shoe")

' Discounted price of Shoe is 540.0'

In [48]:
# d = {"A" :10, "B" : 20}
# print(d.get("Z"))

In [49]:
# ln = ["S1","S2","S3"]
# dict.fromkeys(ln)

In [ ]:
# User defined 
# Builtin - min, max, sum, len

In [54]:
min(10,12,15,5,2, 16)

2

In [57]:
#getNewPrice(500)

In [58]:
# variable len argument
a,*b = 10,12,24,5
a

10

In [59]:
b

[12, 24, 5]

In [60]:
def VarLenfunc(*a):
    return a

In [61]:
VarLenfunc(10,12)

(10, 12)

In [62]:
VarLenfunc(10,12,56,99)

(10, 12, 56, 99)

In [ ]:
# Jul23 - 75 
# Apr23 - 30

In [10]:
def PassFailedCount(*a):
    c_p = 0
    c_f = 0
    for i in a:
        if i >= 18:
            c_p += 1
        else:
            c_f += 1
    return c_p,c_f

In [12]:
PassFailedCount(24,14, 22, 28, 12,29)

(4, 2)

In [71]:
b

2

In [13]:
def PassFailedCount(**x): # keyword variable len argument
    return x

In [17]:
PassFailedCount(S1 = 12, S2 = 22, S3 = 24)

{'S1': 12, 'S2': 22, 'S3': 24}

In [1]:
# scope of variables
z = 10  # global variable

def func():
    X = 20  #local variable - Cnnot be accessed outside the function
    return z+X

In [2]:
print(z)

10

In [3]:
print(X)

NameError: name 'X' is not defined

In [21]:
func()

30

In [22]:
# scope of variables
z = 10  # global variable

def func():
    global z
    z += 20  
    return z

In [23]:
func()

30

In [89]:
print(z)

30

In [90]:
func()

50

In [91]:
print(z)

50

In [8]:
# enclosed variable
def outer():
    C = 10  # local
    def inner():
        D = 50   # local
        result = C+D  # enclosed - C
        return result
    
    return inner()

In [9]:
outer()

60

In [10]:
# enclosed variable
def outer():
    C = 10  # local
    def inner():
        nonlocal C
        D = 50   # local
        C += D  # enclosed - C
        return C
    
    return inner()

In [11]:
outer()

60

In [28]:
# scope
C = 500
def outer():
    C = 10  
    def inner():
        D = 200
        result = C + D # search - local -> enclosed -> global ->builtin
        return result
    return inner()

In [29]:
outer()

210

In [30]:
# scope

C = 500
def outer():
    def inner():
        D = 200
        result = C + D
        return result
    return inner()

In [31]:
outer()

700

In [34]:
def outer():
    def inner():
        D = 200
        result = C + D
        return result
    return inner()

In [35]:
outer()

700

In [106]:
import math
math.pi

3.141592653589793

In [107]:
def outer():
    
    def inner():
        D = 200
        result = math.pi + D
        return result
    
    return inner()

In [108]:
outer()

203.14159265358978

In [1]:
# lambda, map, filter, reduce, accumulate
# lambda arguments : expression

In [2]:
Add = lambda x,y : x+y
Add(2,4)

6

In [12]:
def Add(x,y):
    return x+y
Add(2,4)

6

In [13]:
Add(10,30)

40

In [13]:
add = lambda x,y : x+y
add(9,9)

18

In [14]:
Add = lambda x,y : x+y
Add(20,20)

40

In [15]:
# square - lambda 
sq = lambda x : x**2
sq(10)

100

In [16]:
sq = lambda x : x**2
sq(10)

100

In [20]:
eveodd = lambda x : "even" if x%2==0 else "odd"
eveodd(5)

'odd'

In [22]:
# write func lambda to print highest of 2 number
hof2 = lambda x,y : x if x>y else y
hof2(10,10)

10

In [23]:
# write func lambda to print highest of 2 number
# a = 10
# b = 10
# if a > b:
#     a
# else:
#     if b > a:
#         b
#     else:
#         equal

In [6]:
hof2=lambda a,b : a if a > b else b if b>a else 'equal'
hof2(10,10)

'equal'

In [31]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [35]:
help(getNewPrice)

Help on function getNewPrice in module __main__:

getNewPrice(price, name, discount=0.1)
    Gives discounted price of the product.

    Arguments :
               Price - numeric
               Name - str
               discount - default is 0.1 , numeric
    Returns - Discounted price

In [33]:
# default argument
def getNewPrice(price, name,discount = 0.1):
    '''
    Gives discounted price of the product.
    
    Arguments : 
               Price - numeric
               Name - str
               discount - default is 0.1 , numeric
    Returns - Discounted price
    '''
    new_price = price - (price * discount)
    return f" Discounted price of {name} is {new_price}"

In [36]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [37]:
#map(func  , *iterable)
# func - builtin, user defined, lambda

In [8]:
list_name = ["Manvendra","namia","Vaishnavi","Vidya"]
list_name

['Manvendra', 'namia', 'Vaishnavi', 'Vidya']

In [9]:
s = map(len, list_name)  # iterator - it can be used just once then destroyed
s

In [10]:
l = list(s)

In [11]:
l
list(map(lambda x : x**2, l))

[81, 25, 81, 25]

In [37]:
list_name = ["Manvendra","namia","Vaishnavi","Vidya"]
def countA(s):
    c = s.count("a")
    return c

In [38]:
list(    map(countA   , list_name )    )

[2, 2, 2, 1]

In [40]:
num = (10,5,9,12,8,6,7)
tuple(map(lambda x: 'even' if x%2==0 else 'odd', num))

('even', 'odd', 'odd', 'even', 'even', 'even', 'odd')

In [41]:
name = ["S1", "S2", "S3", "S4"]
marks = [24,18,22]

list(map(lambda x,y: x+'-'+str(y),name,marks))

['S1-24', 'S2-18', 'S3-22']

In [58]:
# filter
# filter(func   , iterable)  # user defined, lambda, builtin
list(filter(lambda x : len(x) > 7, list_name ))

['Manvendra', 'Vaishnavi']

In [12]:
n = [0,12,9,0,12]

list(filter(None, n))

[12, 9, 12]

In [43]:
n = [  [10,12,17],  [15,9,2], [4,7,2]  ]
n

[[10, 12, 17], [15, 9, 2], [4, 7, 2]]

In [44]:
list(filter(lambda x  : sum(x) > 20, n  ))

[[10, 12, 17], [15, 9, 2]]

In [45]:
list(map(lambda x  : sum(x) > 20, n  ))

[True, True, False]

In [46]:
list_name  # filter out the names whose first charcter is in lower case

['Manvendra', 'namia', 'Vaishnavi', 'Vidya']

In [14]:
list(filter(lambda x : x[0].islower(),list_name))

['namia']

In [21]:
# reduce, accumulate
import calculator

ModuleNotFoundError: No module named 'calculator'

In [49]:
dir(calculator)

NameError: name 'calculator' is not defined

In [50]:
calculator.Addition(10,90)

NameError: name 'calculator' is not defined

In [27]:
# reduce , accumulate
# functools, itertools
import functools

In [28]:
print(dir(functools))

['GenericAlias', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cache', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [29]:
n = [ [10,12,17], [15,9,2], [4,7,2] ] 
m = [10,4,2]
functools.reduce(lambda x, y : x+y, m)

16

In [31]:
functools.reduce(lambda x, y : x if x>y else y,  n)

[15, 9, 2]

In [24]:
nl = [[10, 12, 17], [15, 9, 2], [4, 7, 2]]

[i for j in nl for i in j]

[10, 12, 17, 15, 9, 2, 4, 7, 2]

In [34]:
n = [[10, 12, 17], [15, 9, 2], [4, 7, 2]]

# Flatten the nested list into a single list
flattened_list = [element for sublist in n for element in sublist]
# Sort the flattened list in descending order using lambda function
flattened_list.sort(key=lambda x: -x)

# Retrieve the largest value (first element after sorting)
largest_value = flattened_list[0]

print("The largest value in the nested list is:", largest_value)

The largest value in the nested list is: 17

In [117]:
# [10,12,17] + [15,9,2]
# [10, 12, 17, 15, 9, 2] + [4,7,2]
m

[10, 4, 2]

In [124]:
import itertools
list(itertools.accumulate(m,lambda x,y : x+y))

[10, 14, 16]

In [122]:
# 
num = [10,12,9,24,9]  # reduce to find the max value in the list
functools.reduce(   lambda x,y : x if x>y else y    , num)
# functools.reduce(max,num)

24

In [ ]:
# x = 10
# y =12

# x = 12
# y = 9

# x = 12
# y = 24

# x = 24
# y = 9

# 24

In [130]:
import functools
num = [10,12,9,24,9]  # reduce to find the max value in the list
functools.reduce(lambda x,y : x if x>y else y ,num)

24

In [ ]:
# 1. transpose
# 2. { 1 : ["Aman", 24],   2 : []}
# used vowels
# natural numbers - 1 - 10
#

In [22]:
# [  i**2    for i in range(1,11)]

{1, 2, 3, 4}

In [131]:
s = "python for data science"
{   i    for i in s  if i in "AEIOUaeiou"}

{'a', 'e', 'i', 'o'}

In [36]:
l = [[1,2,5],
    [3,4,6],
    [5,6,7],
    [7,8,8]]

[   [   r[i]  for r in l ]     for i in range(3)   ]

[ [n[i] for n in l] for i in range(len(n))]

[[1, 3, 5, 7], [2, 4, 6, 8], [5, 6, 7, 8]]