In [1]:
# dictionary is mutable
d = {}  # empty dict
d

{}

In [2]:
type(d)

dict

In [3]:
d = {"A" : 30, "B" : 50, "C" : 60}
d

{'A': 30, 'B': 50, 'C': 60}

In [4]:
# keys - only immutable data type
d = {"A" : 30, 
     0 : 50, 
     10.2 : 60, 
     True : 70, 
     (10,1) : 100}
d

{'A': 30, 0: 50, 10.2: 60, True: 70, (10, 1): 100}

In [5]:
d = {"A" : 30, 
     0 : 50, 
     10.2 : 60, 
     True : 70, 
     (10,1) : 100,
    [12,1] : 200}
d

TypeError: unhashable type: 'list'

In [2]:
d = {"A" : 30, # if there are duplicate keys it stores the last value
     0 : 50, 
     10.2 : 60, 
     True : 70, 
     (10,1) : 100,
    "A" : 200}
d

{'A': 200, 0: 50, 10.2: 60, True: 70, (10, 1): 100}

In [1]:
d = {"Batch" : "Jul23", 
      "Strentgh" : 75, 
     "Students" : ["S1","S2","S3"], 
     "Batch_S" : True, 
       "Marks" : {"ITP" : [24,26,28], "SQL" : [12,24,22] } }
d

{'Batch': 'Jul23',
 'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [2]:
d["Batch"]

'Jul23'

In [3]:
d["Students"].append("S4")

In [4]:
d

{'Batch': 'Jul23',
 'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3', 'S4'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [5]:
d["Marks"]["SQL"]

[12, 24, 22]

In [6]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
# 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 
# 'setdefault', 'update', 'values'

In [8]:
d["Place"]

KeyError: 'Place'

In [9]:
d.get("Batch")

'Jul23'

In [12]:
d.get("Batch", "Not found" )

'Jul23'

In [18]:
# value, keys, items
d.values()

dict_values(['Jul23', 75, ['S1', 'S2', 'S3', 'S4'], True, {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}])

In [19]:
d.keys()

dict_keys(['Batch', 'Strentgh', 'Students', 'Batch_S', 'Marks'])

In [20]:
d.items()

dict_items([('Batch', 'Jul23'), ('Strentgh', 75), ('Students', ['S1', 'S2', 'S3', 'S4']), ('Batch_S', True), ('Marks', {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]})])

In [21]:
# 'pop', 'popitem'
d.pop("Batch")

'Jul23'

In [22]:
d

{'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3', 'S4'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [24]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [11]:
d.popitem()

('Marks', {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]})

In [33]:
d

{'Strentgh': 75, 'Students': ['S1', 'S2', 'S3', 'S4'], 'Batch_S': True}

In [12]:
d.popitem()

('Batch_S', True)

In [13]:
d

{'Batch': 'Jul23', 'Strentgh': 75, 'Students': ['S1', 'S2', 'S3']}

In [36]:
d.popitem()

('Students', ['S1', 'S2', 'S3', 'S4'])

In [37]:
d

{'Strentgh': 75}

In [38]:
d.popitem()

('Strentgh', 75)

In [39]:
d

{}

In [40]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [41]:
d = {"Batch" : "Jul23", 
      "Strentgh" : 75, 
     "Students" : ["S1","S2","S3"], 
     "Batch_S" : True, 
       "Marks" : {"ITP" : [24,26,28], "SQL" : [12,24,22] } }
d

{'Batch': 'Jul23',
 'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [42]:
del d["Batch"]

In [43]:
d

{'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [44]:
# 'setdefault', 'update'
d

{'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]}}

In [45]:
d["Place"] = "CHN"
d

{'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]},
 'Place': 'CHN'}

In [47]:
d["Strentgh"] += 1
d

{'Strentgh': 76,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]},
 'Place': 'CHN'}

In [49]:
# update 
d.update(  {"Batch" : "Jul23", "Duration" : 6}  )
d

{'Strentgh': 76,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]},
 'Place': 'CHN',
 'Batch': 'Jul23',
 'Duration': 6}

In [24]:
d.update(  {"Faculty" : "Vaishnavi"}  )
d

{'Batch': 'Jul23',
 'Strentgh': 80,
 'Students': ['S1', 'S2', 'S3'],
 'Faculty': 'Vaishnavi',
 'Program Manager': 'Vaishnavi'}

In [25]:
# setdefault
d.setdefault("Faculty", "Manvendra")

'Vaishnavi'

In [16]:
d

{'Batch': 'Jul23',
 'Strentgh': 75,
 'Students': ['S1', 'S2', 'S3'],
 'Faculty': 'Manvendra'}

In [17]:
d.setdefault("Program Manager", "Gowthami")

'Gowthami'

In [55]:
d

{'Strentgh': 80,
 'Students': ['S1', 'S2', 'S3'],
 'Batch_S': True,
 'Marks': {'ITP': [24, 26, 28], 'SQL': [12, 24, 22]},
 'Place': 'CHN',
 'Batch': 'Jul23',
 'Duration': 6,
 'Program Manager': 'Vaishnavi',
 'Faculty': 'Manvendra'}

In [25]:
# fromkeys - 
# dict from list
name = ("S1", "S2","S3","S4")
dict(name)

{'S': '4'}

In [26]:
dict.fromkeys(name)

{'S1': None, 'S2': None, 'S3': None, 'S4': None}

In [27]:
dict.fromkeys(name, 0)

{'S1': 0, 'S2': 0, 'S3': 0, 'S4': 0}

In [28]:
list_m = ( ["S1", 23], ["S2", 26], ["S3", 18 ] )
dict(list_m)

{'S1': 23, 'S2': 26, 'S3': 18}

In [29]:
# zip
list_n = ["S1", "S2", "S3", "S4"]
list_m = [23,22,26]
list(zip(list_n,list_m))

[('S1', 23), ('S2', 22), ('S3', 26)]

In [30]:
# zip
list_n = ["S1", "S2", "S3", "S4"]
list_m = [23,22,26]
tuple(zip(list_n,list_m))

(('S1', 23), ('S2', 22), ('S3', 26))

In [31]:
# zip
list_n = ["S1", "S2", "S3", "S4"]
list_m = [23,22,26]
dict(zip(list_n,list_m))

{'S1': 23, 'S2': 22, 'S3': 26}

In [74]:
s = "Great Learning"
dict.fromkeys(s)

{'G': None,
 'r': None,
 'e': None,
 'a': None,
 't': None,
 ' ': None,
 'L': None,
 'n': None,
 'i': None,
 'g': None}

In [76]:
# membership for keys
"Place" in d

True

In [32]:
d1 = {"A" :  10, "B" : 20}

In [33]:
d2 = {"C" : 30, "D" : 40}
d2

{'C': 30, 'D': 40}

In [34]:
{**d1, **d2}  # concatenation

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [35]:

# set
s = set()
s

set()

In [36]:
[10,"python", True, "Apple"]

[10, 'python', True, 'Apple']

In [37]:
s = {10,"python", True, "Apple"}  # set is unordered
s

{10, 'Apple', True, 'python'}

In [38]:
s = {10,"python", True, "Apple","python"}  # set cannot store duplicate
s

{10, 'Apple', True, 'python'}

In [39]:
s = {10,"python", True, ("Apple","python")}  # set cannot store mutable
s

{('Apple', 'python'), 10, True, 'python'}

In [40]:
s = {10,"python", True, ["Apple","python"]}  # set cannot store mutable
s

TypeError: unhashable type: 'list'

In [41]:
s = {10,"python", True, {"Apple","python"}}  # set cannot store mutable
s

TypeError: unhashable type: 'set'

In [43]:
s = {10,"python","Java", "ml", (10,12), (1,2)}
s

{(1, 2), (10, 12), 10, 'Java', 'ml', 'python'}

In [44]:
# set - indexing and slicing is not possible
s[0]

TypeError: 'set' object is not subscriptable

In [45]:
A = {10,5,8,7,6,2}
B = {8,7,2,20,22}
C = {50,51,53}
D = {8,7,10}

In [46]:
# union 
A.union(B)

{2, 5, 6, 7, 8, 10, 20, 22}

In [47]:
# union 
A.intersection(B)

{2, 7, 8}

In [48]:
# difference
A - B

{5, 6, 10}

In [49]:
A.difference(B)

{5, 6, 10}

In [50]:
A.isdisjoint(B)

False

In [51]:
A.isdisjoint(C)

True

In [52]:
B.issubset(A)

False

In [53]:
D.issubset(A)

True

In [54]:
A.issuperset(D)

True

In [55]:
A.symmetric_difference(B)

{5, 6, 10, 20, 22}

In [56]:
# 
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [57]:
# 'add',  'difference_update', 'discard',  'intersection_update', 
# 'pop', 'remove',  'symmetric_difference_update',  'update'

# add, update

In [58]:
# add - append, 
# update - extend

In [59]:
A

{2, 5, 6, 7, 8, 10}

In [60]:
A.add("Python")
A

{10, 2, 5, 6, 7, 8, 'Python'}

In [61]:
A.add("a")
A

{10, 2, 5, 6, 7, 8, 'Python', 'a'}

In [62]:
A.add("Data Science")
A

{10, 2, 5, 6, 7, 8, 'Data Science', 'Python', 'a'}

In [63]:
A.update({"Excel", "Tableau"})
A

{10, 2, 5, 6, 7, 8, 'Data Science', 'Excel', 'Python', 'Tableau', 'a'}

In [64]:
A.update(["Excel", "Tableau"])
A

{10, 2, 5, 6, 7, 8, 'Data Science', 'Excel', 'Python', 'Tableau', 'a'}

In [65]:
A.update(["Great Learning"])
A

{10,
 2,
 5,
 6,
 7,
 8,
 'Data Science',
 'Excel',
 'Great Learning',
 'Python',
 'Tableau',
 'a'}

In [66]:
# remove, discard, pop
B.remove(7)

In [67]:
B

{2, 8, 20, 22}

In [68]:
B.discard(8)
B

{2, 20, 22}

In [69]:
B.remove(50)

KeyError: 50

In [70]:
B.discard(50)
B

{2, 20, 22}

In [71]:
# pop
A.pop()

2

In [72]:
A.pop()

5

In [73]:
B.pop()

2

In [74]:
B.pop()

20

In [75]:
B.pop()

22

In [76]:
B.pop()

KeyError: 'pop from an empty set'

In [77]:
A = {10,5,8,7,6,2}
B = {8,7,2,20,22}
A.difference(B)

{5, 6, 10}

In [78]:
A

{2, 5, 6, 7, 8, 10}

In [79]:
B

{2, 7, 8, 20, 22}

In [80]:
A = {10,5,8,7,6,2}
B = {8,7,2,20,22}
A.difference_update(B)

In [81]:
A

{5, 6, 10}

In [82]:
A = {10,5,8,7,6,2}
B = {8,7,2,20,22}
A.intersection_update(B)

In [83]:
A

{2, 7, 8}

In [84]:
# convert a list into set
list1 = [10,12,"python", 12,"data science", "python"]
set(list1)

{10, 12, 'data science', 'python'}

In [85]:
sen = "Python for data science and data analysis"
s = set(sen.split())
len(s)

6

In [86]:
A * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [157]:
# check whether a person is eligible to vote
age = float(input("Enter your age - "))

if age >= 18:
    print("Eligible")
print("Done!")

Enter your age - 12
Done!

In [159]:
# check whether a person is eligible to vote
age = float(input("Enter your age - "))

if age >= 18:
    print("Eligible")
else:
    print("NE")
    
print("Done!")

Enter your age - 12
NE
Done!

In [ ]:
# 30 - >=18

# write a program that will take marks as input and display 
# whether a student is eligible for placement or not

marks = float(input("Enter your marks out of 30 - "))

if marks >= 18:
    print("Eligible")
else:
    print("NE")
    
print("Done!")

In [162]:
age = float(input("Enter your age - "))

print("Eligible" if age >= 18 else "NE")
print("Done")

Enter your age - 22
Eligible
Done

In [164]:
# check whether a person is eligible to vote
age = float(input("Enter your age - "))
country = input("Enter your country - ")

if (age >= 18)  and (country == "India"):
    print("Eligible")
else:
    print("NE")
    
print("Done!")

Enter your age - 22
Enter your country - Australia
NE
Done!

In [170]:
# check whether a person is eligible to vote
age = float(input("Enter your age - ")) 

if (age > 0)  and (age <= 120):
    if age >= 18:
        print("Eligible")
    else:
        print("NE")
else:
    print("Invalid Input")
    
print("Done!")

Enter your age - 6
NE
Done!

In [ ]:
# check whether a person is eligible for placement 0 - 30

In [172]:
# check whether a person is eligible to vote
age = float(input("Enter your age - ")) 

if (age< 0) or (age >120):
    print("Invalid Input")
elif age>= 18:
    print("Eligible")
else:
    print("NE")
    
print("Done Checking!")

Enter your age - 22
Eligible
Done Checking!

In [ ]:
# 1. Write a program to check whether a number is even or odd

# 2. Write a program which will take input a num - 15
# if num is div by 3 print div by 3
# if the num is div by 5 print div by 5
# if the num is div by 3 and 5 print div by 3 and 5 both

# 3. Write a program to display the day of the week 
# 0 - sunday
# 1 - Monday
# 2 - Tuesday
# 3 - Wednesday
# 4 - Thursday
# 5 - Friday
# 6 - Saturday

# 4. check whether a day is work day or holiday - 1-5 - 
# workday, 0,6 - holiday

In [177]:
# 1. Write a program to check whether a number is even or odd
num = int(input("Enter a num - "))
if num%2==0:
    print("Even")
else:
    print("odd")

Enter a num - 11
odd

In [179]:
num = int(input("Enter a num - "))
"Even"  if num%2==0  else "odd"

Enter a num - 10

'Even'

In [183]:
# 2. Write a program which will take input a num - 15
# if num is div by 3 print div by 3
# if the num is div by 5 print div by 5
# if the num is div by 3 and 5 print div by 3 and 5 both
num = int(input("Enter a num - "))


if num%3==0 and num%5==0:
    print("div by both 3 and 5")
elif num%3==0:
    print("Div by 3")
elif num%5==0:
    print("Div by 5")

Enter a num - 15
div by both 3 and 5

In [186]:
# 3. Write a program to display the day of the week 
# 0 - sunday
# 1 - Monday
# 2 - Tuesday
# 3 - Wednesday
# 4 - Thursday
# 5 - Friday
# 6 - Saturday

num  = int(input("Enter a num - "))

if num<0 or num>6:
    print("Invalid")
elif num==0:
    print("sunday")
elif num==1:
    print("monday")
elif num==2:
    print("Tuesday")
elif num==3:
    print("Wednesday")
elif num==4:
    print("Thursday")
elif num==5:
    print("Friday")
elif num==6:
    print("Saturday")

Enter a num - 2
Tuesday

In [27]:
# 4. check whether a day is work day or holiday - 1-5 - 
# workday, 0,6 - holiday
num  = int(input("Enter a num - "))

"Holiday" if num==0 or num==6  else "Workday"

Enter a num - 5

'Workday'

In [191]:
num  = int(input("Enter a num - "))
if num<0 or num >6:
    print("invalid")
elif num==0 or num==6:
    print("Holiday")
else:
    print("Workday")

Enter a num - 3
Workday

In [192]:
num = 10
if num%2==0:
    print("Even")
else:
    print("odd")

Even

In [193]:
num = 110
if num%2==0:
    print("Even")
else:
    print("odd")

Even

In [194]:
x = 10
y = 40

result = x + y
print(result)

50

In [196]:
A = 400
B = 500
result = A+B
print(result)

900

In [197]:
def Add(x,y):  # function definition
    result = x+y
    print(result)

In [198]:
# call
Add(10,40)

50

In [199]:
Add(500,900)

1400

In [200]:
def EvenOdd(n):
    if n%2==0:
        print("Even")
    else:
        print("odd")

In [201]:
EvenOdd(90)

Even

In [202]:
EvenOdd(57)

odd