In [1]:
print("Hello world")

Hello world

In [2]:
# print / input
print("Hello world")

Hello world

In [3]:
print()

In [4]:
print()
print()

In [5]:
print()
print()
print()

In [6]:
print("Hello world\nWe are starting with python")  #\n - new line

Hello world
We are starting with python

In [8]:
print("Hello")

Hello

In [ ]:
# Hello

In [9]:
print("Hello")
print("World")

Hello
World

In [ ]:
# Hello
# World

In [10]:
print("Hello", end = " ")
print("World")

Hello World

In [12]:
print("Hello", end = " ")
print("World", end = ",")
print("We are learning python")

Hello World,We are learning python

In [ ]:
# Hello World,We are learning python

In [13]:
print("Hello", end = " ")
print("World", end = "\t")  #\t - tab space
print("We are learning python")

Hello World	We are learning python

In [10]:
print("Hello", "My name is Manvendra", "I am learning python", sep='\n')

Hello
My name is Manvendra
I am learning python

In [15]:
print("Hello", 35)

Hello 35

In [17]:
print("Hello", "My name is Manvendra", "I am learning python", sep = ",")

Hello,My name is Manvendra,I am learning python

In [18]:
print("Hello", "My name is Manvendra", "I am learning python", sep = "\n")

Hello
My name is Manvendra
I am learning python

In [11]:
# .format
itp_m = 25
npv_m = 28
print("Itp marks are", itp_m, sep = "-")
print("NPV marks are", npv_m, sep="-")

Itp marks are-25
NPV marks are-28

In [12]:
itp_m = 25
npv_m = 28
print("Itp marks are - {}".format(itp_m))   # {} - place holder

Itp marks are - 25

In [13]:
itp_m = 25
npv_m = 28
print("Itp marks are - {} \nNPV marks are - {}".format(itp_m,npv_m))   # {} - place holder

Itp marks are - 25
NPV marks are - 28

In [26]:
itp_m = 25
npv_m = 28
print("Itp marks are - {} \nNPV marks are - {}".format(itp_m))

IndexError: Replacement index 1 out of range for positional args tuple

In [27]:
itp_m = 25
npv_m = 28
sql_m = 27
print("Itp marks are - {} \nNPV marks are - {}".format(itp_m,npv_m,sql_m))

Itp marks are - 25
NPV marks are - 28

In [29]:
marks = 25
print("Itp marks are - {0} \nNPV marks are - {0}".format(marks))

Itp marks are - 25
NPV marks are - 25

In [32]:
itp_m = 25
npv_m = 28
sql_m = 27
print("Itp marks are - {0} \nSQL marks are - {2}".format(itp_m,npv_m,sql_m))

Itp marks are - 25
SQL marks are - 27

In [34]:
itp_m = 25
npv_m = 28
sql_m = 27
print("NPV marks are - {1} \nSQL marks are - {2}".format(itp_m,npv_m,sql_m))

NPV marks are - 28
SQL marks are - 27

In [14]:
itp_m = 25
npv_m = 28
sql_m = 27
print(f"NPV marks are - {npv_m} \nSQL marks are - {sql_m}")

NPV marks are - 28
SQL marks are - 27

In [15]:
# taking input
input()

h

'h'

In [38]:
input("Enter your name - ")

Enter your name - Manvendra

'Manvendra'

In [39]:
# variable - 
name = input("Enter your name - ")

Enter your name - Manvendra

In [40]:
print(name)

Manvendra

In [41]:
# rules for naming variables
# 1. It should not start with numbers
9A = 200

SyntaxError: invalid syntax (3569053093.py, line 3)

In [42]:
A9 = 200

In [44]:
# rules for naming variables
# 1. It should not start with numbers
# 2. A variable cannot have any special charcter other than underscore
value/a = 200

SyntaxError: cannot assign to operator (1217983930.py, line 4)

In [45]:
# rules for naming variables
# 1. It should not start with numbers
# 2. A variable cannot have any special charcter other than underscore
value_a = 200

In [ ]:
# rules for naming variables
# 1. It should not start with numbers
# 2. A variable cannot have any special charcter other than underscore
# 3. Variable names are case senstive
value_a = 200

In [47]:
x = 400
print(X)

NameError: name 'X' is not defined

In [48]:
X = 500
print(x)

400

In [49]:
# rules for naming variables
# 1. It should not start with numbers
# 2. A variable cannot have any special charcter other than underscore
# 3. Variable names are case senstive
# 4. we can't have spaces b/w the variable name
first name = "Manvendra"

SyntaxError: invalid syntax (1787324654.py, line 6)

In [50]:
first_name = "Manvendra"

In [51]:
# rules for naming variables
# 1. It should not start with numbers
# 2. A variable cannot have any special charcter other than underscore
# 3. Variable names are case senstive
# 4. we can't have spaces b/w the variable name
# 5. We cannot have python functions and keywords as variable name

# print= "Hello"

In [1]:
print("We are learning")

We are learning

In [2]:
# int = 500
int(10.9)

10

In [ ]:
# take 2 numbers as input and dispplay the sum 
# Enter the 1st num - 10
# Enter the 2nd num - 20
# 30

In [63]:
num1 = input("enter the 1st num -") #str
num2 = input("enter the 2nd num -")
print(int(num1) + int(num2))

enter the 1st num -10
enter the 2nd num -20
30

In [4]:
# Data types - 
# int, float, str, complex, bool
a = 10
type(a)

int

In [5]:
# float - decimal values
x = 10.9
type(x)

float

In [6]:
x = 10.
type(x)

float

In [6]:
# complex - real and imaginary
c = 10 + 5j
c

(10+5j)

In [8]:
type(c)

complex

In [17]:
c = 10 + 5J
c

(10+5j)

In [18]:
c.real

10.0

In [19]:
c.imag

5.0

In [13]:
# string - '', "", ''' '''
a = 'python'
a

'python'

In [14]:
type(a)

str

In [15]:
a = "python"
a

'python'

In [16]:
type(a)

str

In [17]:
a = '''python'''
a

'python'

In [18]:
type(a)

str

In [21]:
# boolean 
x = False
x

False

In [22]:
type(x)

bool

In [23]:
# int,float,str,bool,complex
s = 'Student's Marks'

SyntaxError: invalid syntax (3297608652.py, line 2)

In [24]:
s = "Student's Marks"
s

"Student's Marks"

In [27]:
s = '''Student's Marks are "76" '''
print(s)

Student's Marks are "76"

In [ ]:
# Type casting - changing the type of data
# Implicit - python does the conversion itself
# Explicit - we force the conversion

In [28]:
a = 10
b = 10.9
a + b

20.9

In [29]:
False + True  # implicit conversion

1

In [30]:
int(10.9)  # explicit conversion

10

In [33]:
# int - float, str, bool, complex
a = 40
b = float(a)
b

40.0

In [32]:
a

40

In [34]:
type(b)

float

In [35]:
a = 40
b = str(a)  # "40"
b

'40'

In [36]:
a = 40
b = complex(a)  
b

(40+0j)

In [39]:
a = -40
b = bool(a)  # "40"
b

True

In [38]:
a = 0
b = bool(a)  # "40"
b

False

In [ ]:
# float, str, complex, bool, int
# float - int, str, complex, bool

In [40]:
# complex - int, float, str, bool
a = 10 + 5j
int(a)

TypeError: can't convert complex to int

In [41]:
a = 10 + 5j
float(a)

TypeError: can't convert complex to float

In [42]:
a = 10 + 5j
a

(10+5j)

In [43]:
str(a)

'(10+5j)'

In [44]:
bool(a)

True

In [45]:
a = 0 + 0j
a

0j

In [46]:
bool(a)

False

In [48]:
# str - int, float, complex, bool
s = "python"
int(s)

ValueError: invalid literal for int() with base 10: 'python'

In [50]:
s = "200      "
int(s)

200

In [56]:
s = "200  "
float(s)

200.0

In [58]:
s = "200 "
complex(s)

(200+0j)

In [61]:
s = "0"
bool(s)

True

In [62]:
s = ""
bool(s)

False

In [ ]:
# Arithmatic
# Relational/Comparison
# Logical
# Bitwise
# Assignment
# Membership
# Identity

In [ ]:
# Arithmatic - +, -, *(Multiplication), /, //(floor division),
# % - remainder, ** ( power)

In [64]:
A = 10
B = 20
A + B

30

In [65]:
A = 10
B = 20
A - B

-10

In [66]:
A = 10
B = 20
A * B

200

In [68]:
A = 20
B = 10
A / B

2.0

In [69]:
A = 10
B = 3
A / B

3.3333333333333335

In [70]:
A = 10
B = 3
A // B

3

In [71]:
A = 10
B = 3
A%B

1

In [74]:
A = 10.0
B = 3.0
A // B

3.0

In [75]:
10 **2

100

In [76]:
A = 10
B = 2
A**B

100

In [78]:
10**(1/2)

3.1622776601683795

In [80]:
10**(1/2)

3.1622776601683795

In [ ]:
# BODMAS - PEMDAS

In [81]:
10**(1/3)

2.154434690031884

In [82]:
A = 10.6
B = 3.5
A + B

14.1

In [83]:
s = "Great"
s1 = "Learning"
s + s1  # concatenation

'GreatLearning'

In [84]:
s = 10
s1 = "Learning"
s + s1  # concatenation

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [85]:
s = 10
s1 = "Learning"
str(s) + s1  # concatenation

'10Learning'

In [87]:
# +, *
s1 * 3

'LearningLearningLearning'

In [88]:
# 
x = True
y = False
True + False

1

In [89]:
True - False

1

In [90]:
True * False

0

In [91]:
# Assignment operator =, +=, -=, /=, //=, %=, **=
A = 230
A

230

In [92]:
A += 10  # A = A+10
A

240

In [93]:
A -= 10  # A = A-10
A

230

In [94]:
A *= 2  # A = A*2
A

460

In [95]:
s = "python"
s += "programming"  # s = s + "programming"
s

'pythonprogramming'

In [96]:
s *= 2
s

'pythonprogrammingpythonprogramming'

In [97]:
# Relational/ Comparison operator
# >, <, >=,<= != , ==

age = 10
age >= 18 # output is boolean - True/False

False

In [101]:
age = 18
age <= 18 # output is boolean - True/False

True

In [103]:
age = 24
age < 18 # output is boolean - True/False

False

In [105]:
age != 24

False

In [106]:
age == 24

True

In [118]:
s = "PYthon"
s1 = "Python"
s > s1

False

In [115]:
ord("p")

112

In [109]:
chr(112)

'p'

In [116]:
ord("P")

80

In [119]:
True > False

True

In [ ]:
#Logical -
# And, Or and Not
# And - When all condition is True then output is true
# Or - One of the condition  must be True
# Not - Negates the output

In [123]:
age = 20
country = "India"

(age >= 18)   and    (country == "Australia")

False

In [126]:
age = 12
country = "Australia"

(age >= 18)   or    (country == "India")

False

In [128]:
not(False)

True

In [130]:
age = 12
country = "Australia"

not(  (age >= 18)   or    (country == "India") )

True

In [ ]:
# Membership operator - in , not in  - True/False
# it can be only used on sequence - iterables - str, list, tuple, dict, set

In [131]:
s

'PYthon'

In [132]:
"PY" in s

True

In [133]:
"Py" in s

False

In [134]:
"Po" in s

False

In [135]:
"Po" not in s

True

In [ ]:
# Bitwise

In [136]:
bin(10)

'0b1010'

In [ ]:
# &, |, ^ (XOR), ~, >> , <<

In [137]:
a = 10
b = 11
a & b

10

In [138]:
a = 10
b = 11
a | b

11

In [139]:
a = 10
b = 11
a ^ b  # if both bits are different we will get 1 else 
       # if they are same we get 0

1

In [140]:
a = 10
~a       # -n-1

-11

In [142]:
a = -20
~a       # -n-1

19

In [144]:
# left and right shift
10 >> 3  # right shift

1

In [145]:
10 << 2  # left shift

40