In [114]:
import pandas as pd
import numpy as np

### Creating series

In [116]:
lst=["l","w","m"]
#we can change as array
lst=np.array(lst)

In [117]:
pd.Series(lst)

0    l
1    w
2    m
dtype: object

In [118]:
lst2=["a","b","c"]
#we can give index also
pd.Series(data=lst,index=lst2)

a    l
b    w
c    m
dtype: object

In [119]:
#dictionary
d={"a":"l","b":"w","c":"m"}
pd.Series(d)

a    l
b    w
c    m
dtype: object

### Using an Index

In [121]:

crc=["dhoni","kohli","andrason","sachin"]
s1=pd.Series(crc,index=[1,2,3,4])

s1

1       dhoni
2       kohli
3    andrason
4      sachin
dtype: object

In [122]:
avg=["ironman","caption","groot"]
s2=pd.Series(avg)
s2

0    ironman
1    caption
2      groot
dtype: object

###  Add two series

In [124]:
ser1=pd.Series([1,2,3,4],index=["USA","Germany","Japan","USSR"])
ser2=pd.Series([1,2,3,4],index=["USA","Germany","Japan","Italy"])

In [125]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      6.0
USA        2.0
USSR       NaN
dtype: float64

# Data frames

In [127]:
from numpy.random import randn

In [128]:
df=pd.DataFrame(randn(5,5),index="A B C D E".split(),columns="P Q R S T".split())

In [129]:
df

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748
E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [130]:
#column
df["P"]

A    1.077119
B    0.968857
C    0.553674
D    0.636366
E   -1.947919
Name: P, dtype: float64

In [131]:
#series of columns

df[["P","Q"]]

          P         Q
A  1.077119 -1.009097
B  0.968857  0.541487
C  0.553674  0.355207
D  0.636366 -0.104253
E -1.947919  0.002699

In [132]:
#sql methods just know
df.R

A    0.519816
B   -0.189625
C    2.012865
D    0.027122
E    0.638391
Name: R, dtype: float64

In [133]:
type(df["P"])

pandas.core.series.Series

In [134]:
type(df[["P","Q"]])

pandas.core.frame.DataFrame

### Adding new column while data mungling

In [136]:
#create column

In [137]:
df["U"]=df["P"]-df["Q"]

In [138]:
df #5*6 change

          P         Q         R         S         T         U
A  1.077119 -1.009097  0.519816  0.242164 -1.219661  2.086216
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612  0.427370
C  0.553674  0.355207  2.012865  0.318519  1.202196  0.198467
D  0.636366 -0.104253  0.027122 -0.255247  1.606748  0.740618
E -1.947919  0.002699  0.638391  0.448201 -0.976051 -1.950618

In [139]:
#remove - axis -0 row, axis - 1 column
#inplace true only remove original dataframe 
#otherwise it will return in their position

In [140]:
df.drop("U",axis=1,inplace=True)

In [141]:
df

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748
E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [142]:
#rows remove

In [143]:
df.drop("E",axis=0)

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748

In [144]:
df

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748
E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [145]:
#while selecting functions we can use loc functions
#loc-location

In [146]:
df.loc["B"]

P    0.968857
Q    0.541487
R   -0.189625
S   -0.350053
T   -0.117612
Name: B, dtype: float64

In [147]:
#iloc- index

In [148]:
df.iloc[1]

P    0.968857
Q    0.541487
R   -0.189625
S   -0.350053
T   -0.117612
Name: B, dtype: float64

In [149]:
#selecting subsets

In [150]:
df.loc["A" ,"P"]

1.077118679523565

In [151]:
df.loc[["A","B"],["P","Q"]]

          P         Q
A  1.077119 -1.009097
B  0.968857  0.541487

In [152]:
#conditional selections

In [153]:
df>0

       P      Q      R      S      T
A   True  False   True   True  False
B   True   True  False  False  False
C   True   True   True   True   True
D   True  False   True  False   True
E  False   True   True   True  False

In [154]:
df[df<0]

          P         Q         R         S         T
A       NaN -1.009097       NaN       NaN -1.219661
B       NaN       NaN -0.189625 -0.350053 -0.117612
C       NaN       NaN       NaN       NaN       NaN
D       NaN -0.104253       NaN -0.255247       NaN
E -1.947919       NaN       NaN       NaN -0.976051

In [155]:
#condition for column

In [156]:
df[df["P"]>0]

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748

In [157]:
#to see two row

In [158]:
df[df["P"]>0] [["P","Q"]]

          P         Q
A  1.077119 -1.009097
B  0.968857  0.541487
C  0.553674  0.355207
D  0.636366 -0.104253

In [159]:
#multiple conditions

In [160]:
df[(df["P"]>0) & (df["R"]>1)]

          P         Q         R         S         T
C  0.553674  0.355207  2.012865  0.318519  1.202196

In [211]:
df

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748
E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [213]:
#index reset

In [215]:
df.reset_index()

  index         P         Q         R         S         T
0     A  1.077119 -1.009097  0.519816  0.242164 -1.219661
1     B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
2     C  0.553674  0.355207  2.012865  0.318519  1.202196
3     D  0.636366 -0.104253  0.027122 -0.255247  1.606748
4     E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [217]:
df

          P         Q         R         S         T
A  1.077119 -1.009097  0.519816  0.242164 -1.219661
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612
C  0.553674  0.355207  2.012865  0.318519  1.202196
D  0.636366 -0.104253  0.027122 -0.255247  1.606748
E -1.947919  0.002699  0.638391  0.448201 -0.976051

In [219]:
#custom reset index

In [221]:
lst="AA BB CC DD EE".split()

In [223]:
df["Index"]=lst

In [225]:
df

          P         Q         R         S         T Index
A  1.077119 -1.009097  0.519816  0.242164 -1.219661    AA
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612    BB
C  0.553674  0.355207  2.012865  0.318519  1.202196    CC
D  0.636366 -0.104253  0.027122 -0.255247  1.606748    DD
E -1.947919  0.002699  0.638391  0.448201 -0.976051    EE

In [227]:
df.set_index("Index")

              P         Q         R         S         T
Index
AA     1.077119 -1.009097  0.519816  0.242164 -1.219661
BB     0.968857  0.541487 -0.189625 -0.350053 -0.117612
CC     0.553674  0.355207  2.012865  0.318519  1.202196
DD     0.636366 -0.104253  0.027122 -0.255247  1.606748
EE    -1.947919  0.002699  0.638391  0.448201 -0.976051

In [229]:
df

          P         Q         R         S         T Index
A  1.077119 -1.009097  0.519816  0.242164 -1.219661    AA
B  0.968857  0.541487 -0.189625 -0.350053 -0.117612    BB
C  0.553674  0.355207  2.012865  0.318519  1.202196    CC
D  0.636366 -0.104253  0.027122 -0.255247  1.606748    DD
E -1.947919  0.002699  0.638391  0.448201 -0.976051    EE

In [233]:
#heirachical - multi level index

In [239]:
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [241]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [245]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=["A","B"])
df

             A         B
G1 1  0.747225  1.886649
   2 -1.476147  0.304048
   3  0.075322 -1.440978
G2 1 -0.443065 -1.009395
   2 -0.857642 -1.565484
   3 -0.263457  2.763389

In [259]:
df.loc["G1"]

          A         B
1  0.747225  1.886649
2 -1.476147  0.304048
3  0.075322 -1.440978

In [261]:
df.loc["G1"].loc[1]

A    0.747225
B    1.886649
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [269]:
df.index.names=["Group","Num"]

In [271]:
df

                  A         B
Group Num
G1    1    0.747225  1.886649
      2   -1.476147  0.304048
      3    0.075322 -1.440978
G2    1   -0.443065 -1.009395
      2   -0.857642 -1.565484
      3   -0.263457  2.763389

In [275]:
df.xs(("G1",1))

A    0.747225
B    1.886649
Name: (G1, 1), dtype: float64

In [281]:
df.xs(1,level="Num")

              A         B
Group
G1     0.747225  1.886649
G2    -0.443065 -1.009395