###  connect python with mysql

In [12]:
#pip install mysql-connector-python

In [13]:
import sys
sys.path.append('/path/to/your/site-packages')
import pymysql
import pandas as pd

In [14]:
#connect to mysql

In [15]:
# Establish a connection to the MySQL database
connection = pymysql.connect(
    host='localhost',         # e.g., 'localhost' or '127.0.0.1'
    user='root',     # e.g., 'root'
    password='root', # your database password
    database='logicfirst'  # name of the database you want to use
)

In [16]:
#fetch

In [17]:
# Create a cursor object
cursor = connection.cursor()

# Execute a query
query = "SELECT * FROM employee"
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

In [18]:
columns = [column[0] for column in cursor.description]

# Create a DataFrame
df = pd.DataFrame(results, columns=columns)

# Display the DataFrame
print(df.head())

   emp_id   ename job_desc   salary  branch_id
0       1     Ram    ADMIN  1000000        2.0
1       2  Harini  MANAGER  2500000        2.0
2       3  George    SALES  2000000        1.0
3       4   Ramya    SALES  1300000        2.0
4       5   Meena       HR  2000000        3.0