In [2]:
#identity  missing value

In [5]:
import pandas as pd

In [7]:
data = {
    'CustomerID': [1, 2, 3, 4, 5, 6, 7],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Age': [28, None, 35, 40, 29, 33, None],
    'Email': ['alice@example.com', 'bob@example.com', None, 'david@example.com', 'eve@example.com', 'frank@example.com', 'grace@example.com'],
    'PurchaseAmount': [150.00, 200.00, None, 300.00, 100.00, 250.00, 75.00],
    'JoinDate': ['2021-01-15', '2021-02-20', '2021-03-10', '2021-04-05', None, '2021-06-20', '2021-07-15']
}

In [9]:
df=pd.DataFrame(data)

In [11]:
#missing values
df.isnull().sum()

CustomerID        0
Name              0
Age               2
Email             1
PurchaseAmount    1
JoinDate          1
dtype: int64

In [13]:
#remove 
df.dropna()

   CustomerID   Name   Age              Email  PurchaseAmount    JoinDate
0           1  Alice  28.0  alice@example.com           150.0  2021-01-15
3           4  David  40.0  david@example.com           300.0  2021-04-05
5           6  Frank  33.0  frank@example.com           250.0  2021-06-20

In [17]:
#filling missing values

In [19]:
#1 - constant
df['PurchaseAmount'].fillna(0, inplace=True)

C:\Users\DELL 4\AppData\Local\Temp\ipykernel_5980\2369823338.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PurchaseAmount'].fillna(0, inplace=True)

In [21]:
#2 - mean , medium,mode
df['Age'].fillna(df['Age'].mean(), inplace=True)  # Use mean

C:\Users\DELL 4\AppData\Local\Temp\ipykernel_5980\1624196204.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)  # Use mean

In [25]:
# 3- forward fill /backward fill
df['JoinDate'].fillna(method='ffill', inplace=True)  # Forward fill

C:\Users\DELL 4\AppData\Local\Temp\ipykernel_5980\3524768156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['JoinDate'].fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\DELL 4\AppData\Local\Temp\ipykernel_5980\3524768156.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['JoinDate'].fillna(method='ffill', inplace=True)  # Forward fill

In [27]:
df

   CustomerID     Name   Age              Email  PurchaseAmount    JoinDate
0           1    Alice  28.0  alice@example.com           150.0  2021-01-15
1           2      Bob  33.0    bob@example.com           200.0  2021-02-20
2           3  Charlie  35.0               None             0.0  2021-03-10
3           4    David  40.0  david@example.com           300.0  2021-04-05
4           5      Eve  29.0    eve@example.com           100.0  2021-04-05
5           6    Frank  33.0  frank@example.com           250.0  2021-06-20
6           7    Grace  33.0  grace@example.com            75.0  2021-07-15

In [29]:
#verifying the changes

In [31]:
df.isnull().sum()

CustomerID        0
Name              0
Age               0
Email             1
PurchaseAmount    0
JoinDate          0
dtype: int64